.container {
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03),
    0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
    0 16px 32px rgba(0, 0, 0, 0.03), 0 32px 64px rgba(0, 0, 0, 0.03);
  margin: 60px auto;
  max-width: 500px;
  padding-bottom: 30px;
}

.base-size-container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 40px;
}

.base-counter-container {
  align-items: center;
  background-color: #fb536d;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 5px;
}

.base-size-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
}

.base-size-button:focus {
  outline: none;
}

.base-size-number {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  min-width: 100px;
  padding: 0 20px;
  text-align: center;
}

span {
  font-size: 1rem;
  position: relative;
}

.unit {
  display: inline-block;
}

.conversion {
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 30px;
  padding: 15px 0;
}

.conversion:last-of-type {
  border-bottom: none;
}
