header {
  background-color: #020202;
  width: 100%;
}

.container {
  margin: 60px auto;
  max-width: 400px;
  padding-bottom: 30px;
}

.root-size-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 40px;
}

.root-counter-container {
  align-items: center;
  background-color: #1affac;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 5px;
}

.root-size-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #020202;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 1.75rem;
  height: 2rem;
  width: 2rem;
}

.root-size-button:focus {
  outline: none;
}

.root-size-number {
  color: #020202;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 2rem;
  min-width: 100px;
  padding: 0 20px;
  text-align: center;
}

.units {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 1rem;
}

.conversion {
  display: grid;
  font-size: 1.125rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 30px;
  padding: 10px 15px;
}

.conversion:hover {
  background-color: #1affac;
  font-family: "Proxima Nova Bold", sans-serif;
}

.add-conversions-button {
  align-items: center;
  background-color: #020202;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  display: flex;
  font-size: 0.75rem;
  height: 2rem;
  justify-content: center;
  margin: 15px auto;
  padding: 15px 0;
  width: 2rem;
}

.add-conversions-button:hover {
  background-color: #1affac;
  color: #020202;
}

.add-conversions-button:focus {
  outline: none;
}

.rem {
  text-align: right;
}
