@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./fonts/Proxima-Nova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/Proxima-Nova-Bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #020202;
  font-family: "Proxima Nova Regular", sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}
